sudo: required
dist: trusty
services: docker
branches:
  only:
  - master
script: 
  - wget https://github.com/tiulpin/xelatex-docker/raw/master/latexdockercmd.sh -O latexdockercmd.sh
  - chmod a+x latexdockercmd.sh
  - ./latexdockercmd.sh latexmk -xelatex -shell-escape -cd -f -interaction=nonstopmode -pdf main.tex
  - mv main.pdf report-template.pdf
deploy:
  provider: releases
  api_key: 
    secure: "${GH_TOKEN}"
  file: "report-template.pdf"
  skip_cleanup: true
  on:
    repo: iamm-templates/report-template
